p>
  <a id="my-click">Click Me</a>
</p>

<div id="foo" style="border: 1px solid red;">
  <p>bar</p>
</div>

<script>
  $("#my-clickks").click(function(){
    $("#foo").html('<h1>fcuk</h1>');
  })
</script>
